
* {
    margin: 0;
    padding: 0;
}

.trailer{
	margin: 3%;
}
.subtitulos{
	margin: 2%;
	border-radius: 10px;
	padding: 1%;
	
	width: 70%;
	display: flex;
	justify-content: space-around;
	align-items: center;
	flex-direction: column;
	color: #6d5732;

}
.subtitulos img{
	margin-left: 10%;
	width: 35%;
}
.subtitulos div{
	margin-left: 2%;
	margin-right: 2%;
	font-size: 100%;
}
.trailer{
	display: flex;
	justify-content: center;
}
.descripcion{
	margin-top: 2%;
	background-color: #ebc47d;;
	border-radius: 15px;
	font-size: 26px;

}
.galeria2 {
	display: flex;
	flex-wrap: wrap;
	width: 100%;
}

.galeria2 img {
	opacity: 1;
	width: 190px;
	margin: 2%;
	padding: 0.5%;
	border:1px solid #000000;
	height: 25%;
}
.galeria2 img:hover {
	border:1px solid #ff0000;
	opacity: 0.3;
}
.contenedordea{
	align-self: auto;
	display: flex;
}
