/*Titulo*/
.titulo-pelicula{
	font-size: 500%;
	text-shadow:  4px 4px rgb(115, 25, 4);;
	margin: 10px;
}
/*Descripcion*/
.descripcion{
	margin: 30px;
	padding: 50px;
	background-color: #ebc47d;
    color: rgb(115, 25, 4);
	border-radius: 15px;
	font-size: 27px;
}
.descripcion p{
	font-size: 80%;
}
/*Trailer*/
.trailer{
	display:flex;
	justify-content: center;
	align-items: center;
	flex-flow: column;
	overflow: hidden;
	font-size: 200%;
	margin: 10px;
	margin-bottom: 30px
}
.trailer iframe{
	width: 80%;
}
.imagenes-pelicula{
	display: flex;
	margin-left: 2%;
	width: 95%;
	background-color:#420303;
	border-radius: 20px;
}
.imagenes-pelicula img{
	width: 33%;
	border:5px solid #a24a1b;

	margin: 2%
}
.avances{
	display: grid;
	width: 25%;
	grid-template-columns: 120% 120%;
	align-items: center;
	padding: 2%;
}
.avances img{
	width: 90%;
	height: 85%
}
.imagenes-pelicula img:hover{
	border: 5px solid #e09729;
}