.bg0 {
	background-color: rgb(255, 244, 227);
}
.bg1 {
	background-color: rgb(249, 133, 56);
}
.bg2 {
	background-color: rgb(140, 30, 5);
	color: #f2daad;
	border: none;
}
.bg3{
	background: rgb(140, 30, 5, 0.5);
}
.titulo{
	display: flex;
	flex-flow: row;
}
.estilotitulo{
	font-size: 55px;
	margin: 5px;
	text-align: center;
	padding: 0.5%;
	border-radius: 50px;
	color: #ebc47d;
	width: 90%;
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}
.estilologo{
	margin: 5px;
	border-radius: 100%;
}
.menu{
    width:  100%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 0%;
}
.c{
    width: 25%;
    padding: 13px;
    text-align: center;
    text-decoration: none;
    font-family: monospace;
    font-weight: bold;
    font-size: 180%;
}
.c:hover {
    background-color: rgb(115, 25, 4);
}
* {
    margin: 0;
    padding: 0;
	font-family: lato;
}
.slider-frame {
	width: 70%;
    height: auto;
	margin:5px auto 0;
	overflow: hidden;
}

.slider-frame ul {
	display: flex;
	padding: 0;
	width: 500%;
	
	animation: slide 20s infinite alternate ease-in-out;
}

.slider-frame li {
	width: 100%;
	list-style: none;
}

.slider-frame img {
	width: 100%;
}

@keyframes slide {
	0% {margin-left: 0;}
	20% {margin-left: 0;}
	
	25% {margin-left: -100%;}
	45% {margin-left: -100%;}
	
	50% {margin-left: -200%;}
	70% {margin-left: -200%;}
	
	75% {margin-left: -300%;}
	90% {margin-left: -300%;}

	95% {margin-left: -400%;}
	100% {margin-left: -400%;}
}
.galeria {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	width: 100%;
}

.galeria img {
	vertical-align: top;
	opacity: 1;
	width: 170px;
	margin: 0.5%;
	padding: 0.5%;
	border:1px solid #000000;
	height: 170px;
}
.galeria img:hover {
	border:1px solid #ff0000;
	opacity: 0.3;
}
.texto{
	align-items: center;
	padding: 0.3%;
    color: #f2daad;
	text-align: center;
}
.contactos{
	padding: 0.3%;
    color: #f2daad;
}
.contenedorcontactos{
	text-align: center;
}
.footer{
	display: grid;
	grid-template-columns: repeat(3,30%);
	align-content: space-between;
	justify-content: center;
}
.ft{
	margin-left: 10%;
	margin-right: 10%;
}
.ofertass {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	width: 100%;
}

.ofertass img {
	vertical-align: top;
	opacity: 1;
	width: 200px;
	margin: 10px;
	padding: 5px;
	border:1px solid #000000;
	height: 130px;
}
.ofertass img:hover {
	border:1px solid #ff0000;
	opacity: 0.3;
}
.peliculapestaña{
	display: flex;
	margin: 3%;
	text-align: center;
	width: 20%;
	height: 20%;
	margin-left: 70%;
}
.trailer{
	margin: 3%;
}
.subtitulos{
	margin: 2%;
	border-radius: 10px;
	padding: 1%;
	
	width: 70%;
	display: flex;
	justify-content: space-around;
	align-items: center;
	flex-direction: column;
	color: #6d5732;

}
.subtitulos img{
	margin-left: 10%;
	width: 35%;
}
.subtitulos div{
	margin-left: 2%;
	margin-right: 2%;
	font-size: 100%;
}
.trailer{
	display: flex;
	justify-content: center;
}
.descripcion{
	margin-top: 2%;
	background-color: #ebc47d;;
	border-radius: 15px;
	font-size: 26px;

}
.galeria2 {
	display: flex;
	flex-wrap: wrap;
	width: 100%;
}

.galeria2 img {
	opacity: 1;
	width: 190px;
	margin: 2%;
	padding: 0.5%;
	border:1px solid #000000;
	height: 25%;
}
.galeria2 img:hover {
	border:1px solid #ff0000;
	opacity: 0.3;
}
.contenedordea{
	align-self: auto;
	display: flex;
}
