body{
    font-family: monospace;
    text-align: center;
    background: #141414;
    color: #ebc47d;
}
h2{
    font-weight: bold;
}
/*Titulo*/
.titulo{
	display: flex;
	flex-flow: row;
    background-color: rgb(249, 133, 56);
    overflow: hidden;
}
.logo{
	margin: 5px;
	border-radius: 30%;
    background: rgb(140, 30, 5, 0.7);
}
.cinecc{
	font-size: 55px;
	margin: 5px;
	text-align: center;
    padding: 0.5%;
	border-radius: 50px;
	color: #ebc47d;
	width: 100%;
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: rgb(140, 30, 5, 0.5);
}
/*Categoria*/
.categoria{
	background-color: rgb(140, 30, 5);
	border: none;
    width: 100%;
    overflow: hidden;
    display: flex;
    justify-content: space-around;
    font-family: monospace;
    text-align: center;
    font-size: 30px;
    box-shadow: 0px 8px 20px 4px #000000;

}
.categoria button{
    font-family: monospace;
    font-weight: bold;
    text-align: center;
    width: 100%;
    text-decoration: none;
    font-size: 30px;
    border: none;
    background: none;
	color: #ebc47d;
}
.categoria button:hover{
    background-color: rgb(115, 25, 4);
    background-blend-mode: exclusion;
}
/*Presentacion (Slider)*/
.slider {
	width: 100%;
    height: auto;
	margin: 5px auto 0px;
	overflow: hidden;
}
.slider div {
	display: flex;
	padding: 0;
	width: 333.3%;
	animation: slide 15s infinite alternate ease-in-out;
}
.slider a {
	width: 100%;
	list-style: none;
}
.slider img {
	width: 100%;
}
@keyframes slide {
	0% {margin-left: 0;}
    21% {margin-left: 0;}
	29% {margin-left: -100%;}
	71% {margin-left: -100%;}
	79% {margin-left: -200%;}
	100% {margin-left: -200%;}
}
/*Catalogo*/
.catalogo{
    display: grid;
    margin: 2%;
    grid-template-columns: repeat(4,25%);   
}
.catalogo a {
    width: 95%;
}
.catalogo img{
    width: 101%;
    border: 3px solid black;
    background-color: black;
    margin: 1%;
}
.catalogo img:hover{
    opacity: 0.8;
}
/*Confiteria*/
.confiteria {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	width: 100%;
}
.confiteria img {
	vertical-align: top;
	opacity: 1;
	width: 170px;
	margin: 0.5%;

	border:5px solid #1d1d1d;
	height: 170px;
}
.confiteria img:hover {
	border:5px solid #790303;
	opacity: 0.9;
}
/*Footer*/
.footer{
	display: grid;
	grid-template-columns: repeat(3,30%);
	align-content: space-between;
	justify-content: center;
}
.footer div{
	margin-left: 10%;
	margin-right: 10%;
    font-size: 50%;
}
.contactos{
	padding: 0.3%;
    color: #f2daad;
}

