.catalogo a {
    width: 95%;
}
.catalogo img{
    width: 101%;
}
.catalogo img:hover{
    opacity: 0.8;
}
.catalogo{
    display: grid;
    margin: 2%;
    grid-template-columns: repeat(4,25%);   
}
.pelicula{
    border: 3px solid black;
    background-color: black;
    margin: 1%;
}